@charset "UTF-8";

/*
----------------------------------------------------- */
:root {
  --Noto-font: 'Noto Sans JP', sans-serif;
  --Roboto-font: "Roboto", sans-serif;
  --main-color: #DD1B57;
}

/* 左右の余白 */
.news, .service,
.site-footer__nav-list,
.site-footer__copyright,
.message-main__image--office {
padding:0 165px;
}

/* マウスホバー */
.site-header__nav-item:hover,.news__nav-link:hover{
  color: var(--main-color);
}


/* top page */
/*
header
----------------------------------------------------- */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:90px;
}

.site-header__logo {
  margin-left:70px;
}

.site-header__nav {
  margin-right: 70px;
}

.site-header__nav-list {
  display: flex;
  gap:30px;
}

.site-header__nav-link {
  font-family: var(--Noto-font);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.site-header__nav-link--home {
  color: var(--main-color);
}

.current {
  color:var(--main-color);
}

/*
hero
----------------------------------------------------- */
.hero {
  position:relative;
  margin-bottom:60px;
}

.hero__message {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.hero__title {
  font-size: 160px;
  font-family: var(--Roboto-font);
  color: #ffffff;
  font-weight: bold;
  margin-bottom:10px;
}

.hero__subtitle {
  font-size: 24px;
  font-family: var(--Noto-font);
  font-weight: bold;
  color: #ffffff;
  text-align:center;
}

.hero__image {
  width:100%;
}

/*
news
----------------------------------------------------- */
.news {
  display: flex;
  gap:90px;
}

.news__nav-title {
  font-family: var(--Noto-font);
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.news__nav-link {
  display: flex;
  color: #333333;
  line-height: 27px;
}

.news__nav-item{
  border-bottom: solid #E8E8E8 1px;
  padding-bottom:15px;
}

.news__nav-item:not(:nth-child(1)){
  padding-top:15px;
}

.news__nav-date {
  margin-right:20px;
  font-family: var(--Roboto-font);
  font-size: 15px;
}

.news__nav-excerpt {
  font-family: var(--Noto-font);
  font-size: 15px;
}

.news__nav-list, .news__nav-excerpt {
  flex:1;
}

/*
service
----------------------------------------------------- */
.service__nav-title {
  font-family: var(--Noto-font);
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding-top:95px;
  padding-bottom: 50px;;
}

.service__nav-list {
  display: flex;
  text-align: center;
  gap:30px;
}

.service__nav-item {
  border:1px ;
  padding:50px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 8px;
  width:350px;
}

.material-icons-round.work, .material-icons-round.location_city,
.material-icons-round.desktop_windows {
  font-size: 48px;
  color:var(--main-color);
}

.service__nav-subtitle {
  font-family: var(--Noto-font);
  line-height: 20.7px;
  font-size: 18px;
  font-weight: bold;
}

.service__nav-excerpt {
  font-family: var(--Noto-font);
  font-size: 14px;
  line-height: 23.8px;
  padding-top:20px;
  text-align: left;
}

.service__nav-item:not(:nth-child(1)) > .service__nav-subtitle {
  /* 1以外を選択 */
  padding-top: 10px;
}

.service__nav-item:nth-child(1) > .service__nav-subtitle {
  /* 1を選択 */
  padding-top: 5px;
}

.service {
  position:relative;

}

.service__nav-background {
  font-family: var(--Roboto-font);
  font-size: 168px;
  color: #f2f2f2;
  font-weight: bold;
  position:absolute;
  top:55px;
  right:145px;
  z-index: -999;
}

/*
footer
----------------------------------------------------- */
.site-footer {
  margin-top:100px;
  background-color: var(--main-color);
}

.site-footer__nav {
  padding:60px 0 20px;
}

.site-footer__nav-list {
  gap:30px;
}

.site-footer__nav-item {
  font-family: var(--Noto-font);
  color:#ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.site-footer__copyright {
  padding-bottom: 50px;
  color:#ffffff;
  font-family: var(--Roboto-font);
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 13.8px;
  font-size: 12px;
}

.site-footer__nav-list {
  display: flex;
}

/* ============================================================================= */

/* message page */
/*
message header
----------------------------------------------------- */
.message-header {
  display: grid;
  place-items: center;
}

.message-header__image {
  width: 100%;
  height:auto;
  grid-area: 1/1;
}

.message-header__title {
  grid-area: 1/1;
  font-family: var(--Noto-font);
  color:#ffffff;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.1em;
}


/*
main content
----------------------------------------------------- */
.message-main__header {
  margin: 60px 0 40px;
  text-align: center;
}

.message-main__title {
  font-family: var(--Noto-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color:var(--main-color);
}

.message-main__subtitle {
  padding-top:20px;
  font-family: var(--Noto-font);
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.05em;
  color:#333333;
}

.message-main__content {
  width:790px;
  margin:0 auto;
}

.message-main__image {
  float:left;
  border-radius: 50%;
  margin:0 25px 25px 0; 
}

.message-main__text {
  font-family: var(--Noto-font);
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.05em;
}

.message-main__link {
  color:#349BF4;
}

.message-main__image--office {
  width: 100%;
  padding-top:80px;
}